<div class="about-container">
    <div class="container">
        <div class="section">
            <div class="row">
                <div class="col-lg-6 offset-lg-3 col-12 d-flex justify-content-center">
                    <img class="img" width="60%" src="../../assets/images/RR.png" style="max-width: 500px;">
                </div>
            </div>
            <div class="row text-center">
                <p class="fs-2 fst-italic">Sveriges första digitala tjänst för företag att se sina kunders rot- & rutavdrag!</p>
            </div>
            <hr>
        </div>
        
        
        <div class="row">
            <div class="col-auto">
                <p class="fs-4 fw-bold">Om Rotur</p>
            </div>
        </div>
        <div class="card shadow-sm mb-5">
            <div class="row">
                <div class="col-auto">
                    <p class="fs-6">Rotur hjälper företag att hantera administration kring ansökan om rot - och
                        rutavdrag hos Skatteverket. Vår tjänst ska underlätta ansökan om rot och rutavdrag genom att du
                        anger korrekta uppgifter till Skatteverket. Tjänsten ska hjälpa er som företag redan vid
                        planering av arbetet genom att hålla koll på vilka uppgifter som ni behöver för att få
                        skattereduktionen utbetald till er men framför allt hålla koll på hur mycket rot – rutavdrag
                        privat personen har utnyttjat under året.</p>
                </div>
                <div class="col-auto">
                    <p class="fs-6">Rotur kommer att i realtid ta fram befintliga uppgifter hos Skatteverket såsom hur
                        mycket privat personen har kvar i rot – eller rutavdrag för innevarande år, samt fullständigt
                        namn, adress, fastighet eller lägenhetsbeteckning och bostadsrättsförening organisationsnr.</p>
                </div>
                <div class="col-auto">
                    <p class="fs-6">Om du som företag har korrekta uppgifter redan vid planering av arbetet så sparar du
                        tid och minskar missförstånd mellan er och privatpersonen. Dessutom kommer ni få betalt snabbare
                        då Skatteverket inte kommer att kontakta er pga. att handlingar saknas.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-auto">
                <p class="fs-4 fw-bold">Historia</p>
            </div>
        </div>
        <div class="card shadow-sm">
            <div class="row">
                <div class="col-auto">
                    <p class="fs-6">I Sverige har privatpersoner rätt till att göra skatteavdrag för hushållsnära
                        tjänster (Rut) och utgifter för underhåll, reparationer samt om- och tillbyggnationer (Rot).
                        Skatteavdraget görs på arbetskostnaden, skattereduktionen för RUT uppgår till 50% av
                        arbetskostnaden för ROT uppgår den till 30%. För att få ta del av skattereduktionen behöver
                        företagarna uppfylla regler inom tjänster för rot och rutavdrag som ni kan läsa närmare på <a
                            href="https://www.skatteverket.se/privat/fastigheterochbostad/rotarbeteochrutarbete.4.2e56d4ba1202f95012080002966.html">Skatteverkets
                            hemsida</a>.</p>
                </div>
                <div class="col-auto">
                    <p class="fs-6">Skatteverket betalar varje år ut flera miljarder i skattereduktion för rot -och
                        rutavdrag. Och idén föddes genom att vi märkte att många företagare inte alltid får korrekta
                        uppgifter från privatpersonerna om hur mycket de har kvar att nyttja av skattereduktionen. Varje
                        person har rätt till totalt 75 000 kr per år. Om personen har nyttjat hela beloppet eller anger
                        fel belopp till er som företagare kommer Skatteverket inte betala ut korrekt belopp. Detta
                        medför mer administrationsarbete.</p>
                </div>
            </div>
        </div>
    </div>
</div>