<div class="container-fluid">
    <div class="row">
        <p class="fs-4">Räkna på arbete</p>
        <hr class="border border-secondary border-2 opacity-75 m-2">
    </div>
</div>
<div class="calculate-container pt-3">
    <div class="container">
        <div class="row col-lg-6 offset-lg-3 col mobile">
            <p class="fs-5 fw-bold">Upgifter om köparen</p>
            <div class="card">
                <table class="table table-sm table-borderless">
                    <tbody>
                        <tr>
                            <td>Köparens personnummer</td>
                            <td class="d-flex"><input type="number" class="form-control text-center" id="customerId"
                                    max="12" [(ngModel)]="customerId">
                                <button class="btn btn-primary" (click)="search()">Sök</button>
                            </td>
                        </tr>
                    </tbody>
                    <tbody *ngIf="showInfo">
                        <tr>
                            <td>Köparens namn</td>
                            <td class="text-end">{{Customer.name}}</td>
                        </tr>
                        <tr>
                            <td>Köparens Adress</td>
                            <td class="text-end">{{Customer.address}}</td>
                        </tr>
                        <tr>
                            <td>Postnummer & Ort</td>
                            <td class="text-end">{{Customer.postalCodeAndCity}}</td>
                        </tr>
                        <tr>
                            <td>Ärendenummer</td>
                            <td class="text-end">{{Customer.offerNumber}}</td>
                        </tr>
                        <tr class="fw-bold">
                            <td class="fs-5 pt-5">Preliminär Rot</td>
                            <td class="fs-5 pt-5 text-end">{{Customer.rotrut}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row col-lg-6 offset-lg-3 col mobile pb-5">
            <div class="row pt-5 pb-3" *ngIf="showInfo">
                <div class="col-auto">
                    <select class="form-select" id="ddlType" aria-label="Typ av arbete" (change)="typeOfWork($event)">
                        <option value="None" selected>Typ av arbete</option>
                        <option value="ROT">ROT</option>
                        <option value="RUT">RUT</option>
                    </select>
                </div>
            </div>
            <div class="row mobile" *ngIf="type == 'ROT'">
                <div class="card table-responsive-sm">
                    <table class="table table-borderless">
                        <thead>
                            <tr class="text-nowrap">
                                <th scope="col">Arbete</th>
                                <th scope="col">Timmar</th>
                                <th scope="col">Materialkostnad</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let row of Rot.work">
                                <td>{{row.name}}</td>
                                <td><input type="number" class="form-control form-control-sm hour-cell" max="1000"
                                        (change)="RotHourSum()" [(ngModel)]="row.hours" min="0"></td>
                                <td><input type="number" class="form-control form-control-sm material-cost-cell-size"
                                        (change)="RotCalculateSum()" max="1000" [(ngModel)]="row.materialCost"
                                        min="0"></td>
                            </tr>
                            <tr class="table-sum">
                                <td>Summa</td>
                                <td>{{Rot.sumOfHours}}</td>
                                <td>{{Rot.sumOfMaterialCost}}:-</td>
                            </tr>
                        </tbody>
                    </table>
                    <table class="table table-sm table-borderless">
                        <tbody>
                            <tr class="text-nowrap">
                                <td class="pt-2">Övriga kostnader</td>
                                <td class="d-flex justify-content-center pt-2"><input type="number"
                                        class="form-control form-control-sm material-cost-cell-size" max="10000"
                                        min="0" (change)="RotCalculateSum()" [(ngModel)]="Rot.otherExpenses"></td>
                            </tr>
                            <tr class="text-nowrap">
                                <td class="pt-2">Arbetskostnad</td>
                                <td class="d-flex justify-content-center pt-2"><input type="number"
                                        class="form-control form-control-sm material-cost-cell-size" max="10000"
                                        min="0" (change)="RotCalculateSum()" [(ngModel)]="Rot.laborCost"></td>
                            </tr>
                            <tr class="text-nowrap">
                                <td class="fs-5 fw-bold pt-2">Totalt</td>
                                <td class="d-flex justify-content-center pt-2"><input type="number" disabled="true"
                                        class="form-control form-control-sm material-cost-cell-size" max="100000"
                                        min="0" [(ngModel)]="Rot.totalCost"></td>
                            </tr>
                            <tr>
                                <td class="fs-small tax-reduction-color pt-5">Skattereduktion</td>
                                <td class="fs-small tax-reduction-color pt-5 d-flex justify-content-center">{{Rot.taxReduction}}:-</td>
                            </tr>
                            <tr>
                                <td class="fs-5 fw-bold">Totala kostnad efter Rot-avdrag</td>
                                <td class="d-flex justify-content-center"><input type="number" disabled="true"
                                        class="form-control form-control-sm material-cost-cell-size" max="100000"
                                        min="0" [(ngModel)]="Rot.totalCostAfterReduction"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="row m-0 pb-5 pt-5 d-flex justify-content-end">
                    <div class="col-auto">
                        <button class="btn btn-primary" [disabled]="Rot.totalCost == 0">Skapa offert</button>
                    </div>
                </div>
            </div>
            <div class="row mobile" *ngIf="type == 'RUT'">
                <div class="card table-responsive-sm">
                    <table class="table table-borderless">
                        <thead>
                            <tr class="text-nowrap">
                                <th scope="col">Arbete</th>
                                <th scope="col">Timmar</th>
                                <th scope="col">Materialkostnad</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let row of Rut.work">
                                <td>{{row.name}}</td>
                                <td><input type="number" class="form-control form-control-sm hour-cell" max="10000"
                                        (change)="RutHourSum()" [(ngModel)]="row.hours" min="0"></td>
                                <td><input type="number" class="form-control form-control-sm material-cost-cell-size"
                                        (change)="RutCalculateSum()" max="100000" [(ngModel)]="row.materialCost"
                                        min="0"></td>
                            </tr>
                            <tr class="table-sum">
                                <td>Summa</td>
                                <td>{{Rut.sumOfHours}}</td>
                                <td>{{Rut.sumOfMaterialCost}}:-</td>
                            </tr>
                        </tbody>
                    </table>

                    <table class="table table-sm table-borderless">
                        <tbody>
                            <tr class="text-nowrap">
                                <td class="pt-2">Övriga kostnader</td>
                                <td class="d-flex justify-content-center pt-2"><input type="number"
                                        class="form-control form-control-sm material-cost-cell-size" max="100000"
                                        min="0" (change)="RutCalculateSum()" [(ngModel)]="Rut.otherExpenses"></td>
                            </tr>
                            <tr class="text-nowrap">
                                <td class="pt-2">Arbetskostnad</td>
                                <td class="d-flex justify-content-center pt-2"><input type="number"
                                        class="form-control form-control-sm material-cost-cell-size" max="100000"
                                        min="0" (change)="RutCalculateSum()" [(ngModel)]="Rut.laborCost"></td>
                            </tr>
                            <tr class="text-nowrap">
                                <td class="fs-5 fw-bold">Totalt</td>
                                <td class="d-flex justify-content-center"><input type="number" disabled="true"
                                        class="form-control form-control-sm material-cost-cell-size" max="100000"
                                        min="0" [(ngModel)]="Rut.totalCost"></td>
                            </tr>
                            <tr>
                                <td class="fs-small tax-reduction-color pt-5">Skattereduktion</td>
                                <td class="fs-small tax-reduction-color pt-5 d-flex justify-content-center">{{Rut.taxReduction}}:-</td>
                            </tr>
                            <tr>
                                <td class="fs-5 fw-bold">Totala kostnad efter Rut-avdrag</td>
                                <td class="d-flex justify-content-center"><input type="number" disabled="true"
                                        class="form-control form-control-sm material-cost-cell-size" max="100000"
                                        min="0" [(ngModel)]="Rut.totalCostAfterReduction"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="row m-0 pb-5 pt-5 d-flex justify-content-end">
                    <div class="col-auto">
                        <button class="btn btn-primary" [disabled]="Rut.totalCost == 0">Skapa offert</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>