<div class="row">
    <div class="col">
        <p class="fs-4 mb-0">Skapa rot- & rutansökan</p>
        <p class="fs-6">(Om du har en offert kan du konvertera den till en faktura och redigera eventuella förändringar)</p>
        <p class="fs-6 fst-italic">Fyll i alla uppgifter och låt oss skapa en XML-fil som du sen importerar direkt på
            skatteverkets hemsida!</p>
    </div>
</div>
<div class="row">
    <div class="card p-0">

    </div>
</div>

<!--
Mandatory fields *

Köparens personnummer
Uppgifter om arbetet
    -Timmar per "jobb"
    -Materialkostnad
Övrig kostnad
Betalningsdatum från köparen
Arbetskostnad
Betalt belopp
Begärt belopp


-->