/* .hero {
    background-color: #2b6777;
    color: white;
    margin-bottom: 5vh;
}

.hero-text {
    padding-top: 10vh;
    padding-bottom: 10vh;
    text-align: center;
} */

.login {
  
}

#bankid-button img {
    width: 70px;
    height: 70px;
    margin: 0;
    padding: 0;
  }

  .hr-lines{
    position: relative;
    max-width: 500px;
    margin: 2vh auto;
    text-align: center;
  }

  .hr-lines:before{
    content:" ";
    height: 1px;
    width: 40%;
    background: #C8C9CA;
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
  }

  .hr-lines:after{
    content:" ";
    height: 1px;
    width: 40%;
    background: #C8C9CA;
    display: inline-block;
    position: absolute;
    top: 50%;
    right: 0;
  }