<nav class="navbar">
    <div class="container-fluid">
      <span class="navbar-brand fs-2" routerLink="/">
        Bolag AB
      </span>
      <!-- <span class="d-flex" role="search">
        <button class="btn btn-outline-success" type="submit">Omar Jama</button>
      </span> -->
    </div>
  </nav>

<div class="router-outlet">
    <router-outlet></router-outlet>
</div>

<div class="footer">
  <div class="row">
    <div class="col">
      <p>&#169; Bolag AB &#x2022; 2023</p>
    </div>
  </div>
</div>