<div class="container-fluid">
    <div class="row">
        <div class="col mt-3">
            <button class="btn btn-primary" routerLink="/Create-Case">Nytt ärende <i class="bi bi-plus"></i></button>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <hr>
            <p class="fs-4 mb-0">Mina ärenden</p>
            <div class="card" style="overflow-x:auto;">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">Ärende nr</th>
                            <th scope="col">Skapad</th>
                            <th scope="col">Namn</th>
                            <th scope="col">Adress</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="tr">
                            <td>1003</td>
                            <td>2023-02-08</td>
                            <td>Omar Jama</td>
                            <td>Hammarögatan 14, 123 40 FARSTA</td>
                            <td class="text-end"><a href="">Ladda ner</a></td>
                        </tr>
                        <tr class="tr">
                            <td>1002</td>
                            <td>2023-01-15</td>
                            <td>Göran Persson</td>
                            <td>Hyltingeö Torps gård, 646 96 Stjärnhov</td>
                            <td class="text-end"><a href="">Ladda ner</a></td>
                        </tr>
                        <tr class="tr">
                            <td>1001</td>
                            <td>2022-12-12</td>
                            <td>Cosmo Kramer</td>
                            <td>Skorpionens Gata 535, 136 61 HANINGE</td>
                            <td class="text-end"><a href="">Ladda ner</a></td>
                        </tr>
                        <tr class="tr">
                            <td>1000</td>
                            <td>2022-11-08</td>
                            <td>Sten Stensson</td>
                            <td>Arkens Väg 14, 136 37 HANDEN</td>
                            <td class="text-end"><a href="">Ladda ner</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>