.tr{
    white-space: nowrap!important;
}

.tr:hover{
    background-color: var(--secondary-color);
    color: white;
    cursor: pointer;
}

.tr:hover a{
    color: white;
}

.bi-check2{
    color: var(--primary-color);
}

.bi-x{
    color: red;
}