@media screen and (max-width: 415px){
    .logo{
        max-height: 40px;
    }
}

.sticky-top{
    background-color: #FDFDFD;
}

.navbar {
    background-color: var(--secondary-color);
    padding: 1vh;
}

.navbar-inverse {
    background-color: white !important;
    transition: background-color 200ms linear;
  }

.navbar-inverse .nav-link {
    color: black!important;
    background-color: white !important;
    transition-property: font-color, background-color;
    transition-duration: .2s;
    transition-timing-function: linear;
}

.navbar-inverse .btn-login{
    color: var(--orange-cta-2);
}

.navbar-inverse .bi-list {
    color: var(--secondary-color);
}

.nav-link{
    font-weight: bold;
    margin-right: 3vh;
    color: white;
}

.nav-link:hover{
    color: var(--primary-color);
}

.navbar-inverse .nav-link:hover{
    color: var(--secondary-color)!important;
}

.bi-list{
    color: var(--primary-color);
    font-size: 2rem;
}

.navbar-toggler{
    border: none;
}

.bi-list{
    color: white;
}

.navbar-brand {
    cursor: pointer;
}

.navbar-brand {
    text-decoration: none;
    color: inherit;
}

.btn-login{
    border-color: var(--orange-cta-2);
    color: white
}

.btn-login:active{
    background-color: var(--orange-cta-2);
}

.btn-login:hover{
    background-color: var(--orange-cta-2);
    color: white!important;
}

.remove {
    display: none;
}