@media screen and (max-width: 415px){
    .logo{
        max-height: 40px;
    }
}

.logo{
    opacity: 0.8;
}

.logo:hover{
    opacity: 1;
}

.navbar {
    padding: 2vh;
}

.nav-link{
    opacity: 0.8;
    font-weight: bold;
    margin-right: 3vh;
    color: black;
}

.nav-link:hover{
    opacity: 1;
    color: var(--primary-color);
}

.bi-list{
    color: var(--primary-color);
    font-size: 2rem;
}

.navbar-toggler{
    border: none;
}

.navbar-toggler:focus{
    border: none;
}

.navbar-brand {
    cursor: pointer;
}

.navbar-brand {
    text-decoration: none;
    color: inherit;
}

.btn-login{
    border-color: var(--primary-color);
    color: var(--secondary-color);
}

.btn-login:hover{
    background-color: var(--primary-color);
    color: white;
}