<div class="row">
  <div class="col-auto">
    <div class="offcanvas offcanvas-start" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1"
      id="offcanvasScrolling" aria-labelledby="offcanvasScrollingLabel">
      <div class="offcanvas-header">
        <a class="navbar-brand mb-0 pb-0" routerLink="/">
          <img class="logo" src="../../assets/images/R2.png" height="60px" alt="">
        </a>
        <h5 class="offcanvas-title" id="offcanvasScrollingLabel"></h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <div class="list-group">
          <a class="nav-link" routerLink="search">Sök</a>
          <a class="nav-link" routerLink="cases">Mina ärenden</a>
          <a class="nav-link" routerLink="about">Om oss</a>
        </div>

      </div>
    </div>
  </div>
  <div class="col">
    <div class="row">
      <div class="col-auto">
        <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasScrolling"
          aria-controls="offcanvasScrolling"><span class="bi bi-list"></span></button>
      </div>
    </div>
    <router-outlet></router-outlet>
  </div>
</div>