@media (min-width: 915px) {
    .offcanvas{
        width: 20rem;
        min-height: 100vh;
        height: 100%;
        position: relative;
    }

    .offcanvas:not(.show){
        width: 0;
        visibility: visible;
        transition: width 0.2s;
        transition-timing-function: linear;
    }

    .offcanvas.show:not(.hiding), .offcanvas.showing {
        transform: none;
        transition: width 0.2s;
        transition-timing-function: linear;
    }

    .close-btn{
        display: none;
    }
}

.offcanvas-body{
    padding: 0!important;
}

.dashboard-navbar{
    background-color: white;
    border-bottom: 5px solid var(--secondary-color);
}

.navbar-toggler{
    opacity: 0.8;
    border: none;
    color: var(--primary-color);
    font-size: 2rem;
}

.navbar-toggler:hover{
    opacity: 1;
}

.offcanvas{
    color: black;
}

.offcanvas-body{
    background-color: white
}

.nav-hr{
    --bs-border-width: 2px;
}

.nav-link{
    opacity: 0.8;
    margin: 0;
    padding: .5rem;
}

.nav-link:hover{
    background-color: #F5F7F9;
    color: var(--primary-color);
    opacity: 1;
}

.nav-icon{
    margin-right: 2rem;
}

.no-route{
    text-decoration: line-through;
}

.is-active{
    opacity: 1;
    background-color: #F5F7F9;
    color: var(--primary-color);
    border-left: var(--primary-color) 5px solid;
}

.close-btn{
    opacity: 0.7;
    color: black;
    font-size: 1.5rem;
}

.close-btn:hover{
    opacity: 1;
}