<div class="container-fluid shadow-sm dashboard-navbar">
  <button (click)="toggleNavIcon()" class="navbar-toggler" type="button" data-bs-toggle="offcanvas"
    data-bs-target="#offcanvasScrolling" aria-controls="offcanvasScrolling"><span id="navbar-toggler" class="bi bi-list"></span></button>
</div>

<div class="d-flex flew-row">
  <div class="d-flex-inline">
    <div class="offcanvas offcanvas-start" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1"
      id="offcanvasScrolling" aria-labelledby="offcanvasScrollingLabel">
      <div class="offcanvas-body">
        <div class="d-flex justify-content-end">
          <button type="button" class="btn close-btn" data-bs-dismiss="offcanvas" aria-label="Close"><span
              class="bi bi-x-lg"></span></button>
        </div>
        <div class="list-group pt-5">
          <a class="nav-link fs-5" routerLinkActive="is-active" data-bs-toggle="offcanvas"
            routerLink="/dashboard/home"><i class="bi bi-menu-app nav-icon"></i>Dashboard</a>
          <hr>
          <a class="nav-link fs-5" routerLinkActive="is-active" data-bs-toggle="offcanvas" routerLink="search"><i
              class="bi bi-search nav-icon"></i>Sök</a>
          <a class="nav-link fs-5" routerLinkActive="is-active" data-bs-toggle="offcanvas" routerLink="calculate"><i
              class="bi bi-calculator nav-icon"></i>Räkna på arbete</a>
          <a class="nav-link fs-5" routerLinkActive="is-active" data-bs-toggle="offcanvas" routerLink="cases"><i
              class="bi bi-card-list nav-icon"></i>Offerter</a>
          <a class="nav-link fs-5 no-route"><i class="bi bi-person-circle nav-icon"></i>Min profil</a>
          <a class="nav-link fs-5 no-route"><i class="bi bi-chat-right-dots nav-icon"></i>Support</a>
          <a class="nav-link fs-5 no-route"><i class="bi bi-gear nav-icon"></i>Inställningar</a>
          <button class="btn btn-danger" routerLink="/">Logga ut</button>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <router-outlet></router-outlet>
  </div>
</div>