@media (min-width: 915px) {
    .offcanvas{
        width: 20rem;
        min-height: 100vh;
        height: 100%;
        position: relative;
    }

    .offcanvas:not(.show){
        width: 0px;
        transition: width 0.2s;
        transition-timing-function: linear;
    }

    .offcanvas.show:not(.hiding), .offcanvas.showing {
        transform: none;
        transition: width 0.2s;
        transition-timing-function: linear;
    }
}

.offcanvas{
    color: white;
}

.offcanvas-body{
    background-color: var(--primary-color);
}

.nav-hr{
    --bs-border-width: 2px;
}

.nav-link{
    opacity: 0.8;
    padding: 1rem;
}

.nav-link:hover{
    opacity: 1;
}

.nav-icon{
    margin-right: 2rem;
}

.no-route{
    text-decoration: line-through;
}

.is-active{
    opacity: 1;
    /* background-color: #34a5a7; */
    background-color: var(--secondary-color);
}