/* You can add global styles to this file, and also import other style files */
.card{
    -webkit-box-shadow: 0px 0px 10px -5px #000000; 
    box-shadow: 0px 0px 10px -5px #000000;
}

.text-danger{
    cursor: pointer;
    color: red;
    text-decoration: underline;
}