/* You can add global styles to this file, and also import other style files */
@import '~bootstrap-icons/font/bootstrap-icons';

/* Gul: #CAAE5A
Grön: #3F613D */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

body{
    position: relative;
    min-height: 100vh;
    background-color: white;
    color: #1e2127;
    font-family: Montserrat;
}

.fs-big{
    font-size: calc(1.5rem + 2vw)!important;
}

.text-danger{
    cursor: pointer;
    color: red;
    text-decoration: underline;
}

.btn-primary {
    background-color: #3F613D;
    border-color: #3F613D;
}

.btn-primary:hover {
    background-color: #2f492e;
    border-color: #2f492e;
}

.btn-primary:focus {
    background-color: #3F613D;
    border-color: #3F613D;
}


.link{
    color: #52ab98;
}

.link:hover {
    color: #418979;
}

.link:focus {
    color: #52ab98;
}


.btn-outline-success {
    border-color: #52ab98;
}

.btn-outline-success:hover {
    background-color: #418979;
}

.point-text {
    color: #3F613D;
}

.form-control:disabled {
    opacity: 0.8;
}