/* You can add global styles to this file, and also import other style files */
@import '~bootstrap-icons/font/bootstrap-icons';
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=DM+Serif+Display&family=Fredoka+One&family=Lexend:wght@400;600&family=Montserrat:wght@400;600&family=STIX+Two+Text:wght@700&display=swap');
/* Variables */
:root {
    /* MEDIA SIZES */
    --iphone-width: 415px;

    /* COLORS */
    --primary-color: #24595A;
    --primary-color-hover: #1e4a4b;
    --secondary-color: #2c8789;
}

.router-outlet {
    min-height: 90vh;
}

body{
    position: relative;
    min-height: 100vh;
    background-color: #FDFDFD;
    color: black;
    font-family: 'Lexend', sans-serif;
}

.header-text {
    line-height: 6rem;
    letter-spacing: -0.5rem;
}

.section {
    padding-top: 5vh;
    padding-bottom: 10vh;
}

/* FONT SIZES AND COLOR */
.fs-big{
    font-size: 6rem!important;
}

.fc-primary{
    color: var(--primary-color);
}

/* icon color */
.icon-small{
    background-color: #FDFDFD;
    color: var(--secondary-color);
    font-size: 2rem;
}

.text-danger{
    cursor: pointer;
    color: red;
    text-decoration: underline;
}

.btn{
    border-radius: 0;
}

.form-control{
    border-radius: 0;
}

.btn-primary {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}

.btn-primary:hover {
    background-color: var(--primary-color-hover);
    border-color: var(--primary-color-hover);
}

.btn-primary:focus {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}

.form-control:disabled {
    opacity: 0.8;
}

.card{
      border: 0;
      border-radius: 0;
      padding: 2vh;
      box-shadow: 0 1px 11px 0 rgba(0, 0, 0, .08);
  }

  .footer {
    position: relative;
    bottom: 0;
    width: 100%;
    height: 5vh;
    background-color: #545454;
    color: white;
    text-align: center;
    padding-top: 5vh;
    padding-bottom: 5vh;
}