<div class="container-fluid section text-center pb-0">
    <div class="">
        <p class="fs-4">Sök på personnummer</p>
        <p class="fs-5">Se kundens personuppgifter samt preliminära rot- & rut kvarvarande belopp för i år.</p>
    </div>
    <div class="d-flex align-items-center justify-content-center">
        <div class="">
            <div class="col-lg-10 offset-lg-1 col-8 offset-2">
                <div class="mb-3">
                    <input type="number" [(ngModel)]="userInput" [disabled]="!result"
                        class="form-control form-control-lg text-center fs-4" id="floatingInput" max="12"
                        placeholder="Personnummer">
                    <p class="text-danger text-center" [hidden]="blankInput">Fältet är tomt</p>
                </div>
            </div>
            <div class="col-auto text-center">
                <!-- <a class="link m-3" routerLink="/Search/History">&#x21ba;{{historyBtnText}}</a> -->
                <button class="btn btn-primary" [hidden]="!showSpinner" (click)="Search()">{{searchBtnText}}</button>
                <div class="spinner-border text-center" [hidden]="showSpinner" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="searchContainer" class="search-container">
    <div class="container swing-in-top-fwd" [hidden]="result">
        <hr>
        <div class="row mt-5">
            <div class="col-lg-6 col mb-5 mobile">
                <p class="fs-4"><span class="bi bi-person-fill icon-small"></span> Personuppgifter</p>
                <div class="card">
                    <table class="table">
                        <tbody>
                            <tr>
                                <td>Personnummer</td>
                                <td class="text-end">{{userInput}}</td>
                            </tr>
                            <tr>
                                <td>Namn</td>
                                <td class="text-end">Omar Jama</td>
                            </tr>
                            <tr>
                                <td>Adress</td>
                                <td class="text-end">Hammarögatan 14<br>123 40 FARSTA</td>
                            </tr>
                            <tr>
                                <td>Fastighetsbeteckning</td>
                                <td class="text-end">lgh 1401</td>
                            </tr>
                            <tr>
                                <td>Län</td>
                                <td class="text-end">STOCKHOLM</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-lg-6 mb-5 col mobile">
                <p class="fs-4"><span class="bi bi-wallet-fill icon-small"></span> Rot- & rutbelopp</p>
                <div class="card">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Typ</th>
                                <th scope="col" style="text-align: right;">Belopp kvar</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>ROT</td>
                                <td class="text-end">30 450 SEK</td>
                            </tr>
                            <tr>
                                <td>RUT</td>
                                <td class="text-end">70 525 SEK</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="row mb-5">
            <div class="col mobile">
                <p class="fs-4"><span class="bi bi-clock-history icon-small"></span> Historik</p>
                <div class="card">
                    <table class="table table-sm">
                        <thead>
                            <tr>
                                <th scope="col">Datum</th>
                                <th scope="col">Typ</th>
                                <th scope="col" style="text-align: right;">belopp</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">2023-01-14</th>
                                <td>RUT</td>
                                <td class="text-end">2 475:-</td>
                            </tr>
                            <tr>
                                <th scope="row">2023-02-04</th>
                                <td>ROT</td>
                                <td class="text-end">19 550:-</td>
                            </tr>
                            <tr>
                                <th scope="row">2023-02-26</th>
                                <td>RUT</td>
                                <td class="text-end">2 000:-</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>