input[type='number']::-webkit-outer-spin-button,
        input[type='number']::-webkit-inner-spin-button,
        input[type='number'] {
          -webkit-appearance: none;
          margin: 0;
        }

.search-container{
    min-height: 20vh;
    padding: 2vh;
    background-color: #FAF9F7;
}