<div class="container mt-5">
    <div class="row">
        <div class="col-auto">
            <button class="btn btn-primary" routerLink="/Search/History">{{historyBtnText}}</button>
        </div>
    </div>
    <div class="row text-center">
        <div class="col-lg-6 offset-lg-3">
            <h2 class="display-4">Sök på personnummer</h2>
        </div>
        <div class="col-lg-6 offset-lg-3">
            <p>Här kan du se hur mycker rot- och rutavdrag en person har använt.</p>
        </div>
    </div>
    <div class="col-lg-6 offset-lg-3 form-group">
        <div class="mb-3">
            <input type="number" [(ngModel)]="userInput" [disabled]="!result"
                class="form-control form-control-lg text-center" id="floatingInput" placeholder="Personnummer"
                maxlength="12">
            <p class="text-danger text-center" [hidden]="blankInput">Fältet är tomt</p>
        </div>
    </div>
    <div class="col-auto text-center">
        <button class="btn btn-primary" routerLink="/Search/History">{{historyBtnText}}</button>
        <button class="btn btn-primary" [hidden]="!showSpinner" (click)="Search()">{{searchBtnText}}</button>
        <div class="spinner-border text-center" [hidden]="showSpinner" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>

    <div class="card mt-3" [hidden]="result">
        <div class="card-body p-3">
            <div class="text-center">
                <h2 class="display-6">Preliminär skatte­reduktion för rot och rut</h2>
                <p>Här kan du se hur mycket rot- och rutavdrag en person har använt. Tänk på att skattereduktionen är preliminär.</p>
                <hr/>
            </div>
            <div class="row">
                <div class="col-lg-2 offset-lg-4 col"><p class="fw-bold fs-5">Personuppgifter</p></div>
            </div>
            <div class="row">
                <div class="col-lg-2 offset-lg-4 col text-right"><p>Personnummer</p></div>
                <div class="col-lg-3 col"><p>{{userInput}}</p></div>
            </div>
            <div class="row">
                <div class="col-lg-2 offset-lg-4 col"><p>Namn</p></div>
                <div class="col-lg-3 col"><p>Omar Jama</p></div>
            </div>
            <div class="row">
                <div class="col-lg-2 offset-lg-4 col"><p>Adress</p></div>
                <div class="col-lg-3 col"><p>Hammarögatan 14<br>123 40 FARSTA</p></div>
            </div>
            <div class="row">
                <div class="col-lg-2 offset-lg-4 col"><p>Län</p></div>
                <div class="col-lg-3 col"><p>STOCKHOLM</p></div>
            </div>
            <hr class="col-lg-6 offset-lg-3"/>
            <div class="row">
                <div class="col-lg-2 offset-lg-4 col"><p class="fw-bold fs-5">Använt belopp 2022</p></div>
            </div>
            <div class="row">
                <div class="col-lg-2 offset-lg-4 col-4"><p>Rotarbete</p></div>
                <div class="col-lg-4 col-8"><p>4 475 SEK av 50 000 SEK</p></div>
            </div>
            <div class="row">
                <div class="col-lg-2 offset-lg-4 col-4"><p>Rutarbete</p></div>
                <div class="col-lg-3 col-8"><p>20 000 SEK av 75 000 SEK</p></div>
            </div>
        </div>
    </div>
</div>