<p class="fs-4">Sök</p>
<hr class="border border-secondary border-2 opacity-75 m-2">
<div class="container pb-0">
    <div class="row justify-content-center">
        <div class="col-lg-6">
            <p class="fs-5 fw-bold">Sök på personnummer</p>
            <div class="card">
                <div class="row justify-content-center">
                    <div class="col-auto text-center">
                        <input type="number" [(ngModel)]="userInput" [disabled]="!result"
                            placeholder="Kundens personnummer" class="form-control text-center mb-3" id="floatingInput" max="12">
                        <button class="btn btn-primary" [hidden]="!showSpinner"
                            (click)="Search()"><i class="bi bi-search"></i></button>
                        <span class="spinner-border text-center" [hidden]="showSpinner" role="status">
                            <span class="visually-hidden">Loading...</span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="searchContainer" class="search-container" [hidden]="result">
    <div class="container swing-in-top-fwd">
        <div class="row">
            <div class="col-lg-6 col mb-5 mobile">
                <p class="fs-4"><span class="bi bi-person-fill icon-small"></span> Personuppgifter</p>
                <div class="card result">
                    <table class="table">
                        <tbody>
                            <tr>
                                <td>Personnummer</td>
                                <td class="text-end">{{userInput}}</td>
                            </tr>
                            <tr>
                                <td>Namn</td>
                                <td class="text-end">Eva Larsson</td>
                            </tr>
                            <tr>
                                <td>Adress</td>
                                <td class="text-end">Götgatan 35<br>116 21</td>
                            </tr>
                            <tr>
                                <td>Fastighetsbeteckning</td>
                                <td class="text-end">lgh 1401</td>
                            </tr>
                            <tr>
                                <td>Län</td>
                                <td class="text-end">STOCKHOLM</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-lg-6 mb-5 col mobile">
                <p class="fs-4"><span class="bi bi-wallet-fill icon-small"></span> Rot- & rutbelopp</p>
                <div class="card result">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Typ</th>
                                <th scope="col" style="text-align: right;">Belopp kvar</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>ROT</td>
                                <td class="text-end">30 450 SEK</td>
                            </tr>
                            <tr>
                                <td>RUT</td>
                                <td class="text-end">70 525 SEK</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="row mb-5">
            <div class="col mobile">
                <p class="fs-4"><span class="bi bi-clock-history icon-small"></span> Historik</p>
                <div class="card">
                    <table class="table table-sm">
                        <thead>
                            <tr>
                                <th scope="col">Datum</th>
                                <th scope="col">Typ</th>
                                <th scope="col" style="text-align: right;">belopp</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">2023-01-14</th>
                                <td>RUT</td>
                                <td class="text-end">2 475:-</td>
                            </tr>
                            <tr>
                                <th scope="row">2023-02-04</th>
                                <td>ROT</td>
                                <td class="text-end">19 550:-</td>
                            </tr>
                            <tr>
                                <th scope="row">2023-02-26</th>
                                <td>RUT</td>
                                <td class="text-end">2 000:-</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="row">
            <!-- <hr class="border border-secondary border-2 opacity-75"> -->
            <div class="col text-end mobile">
                <button class="btn btn-primary" routerLink="/dashboard/calculate" [queryParams]="{id: userInput}">Räkna
                    på
                    arbete</button>
            </div>
        </div>
    </div>
</div>