<div class="container-fluid hero">
    <div class="col-lg-6 offset-lg-3 top-bottom-big-padding text-center">
        <p class="fs-big">Se dina kunders rot och rut</p>
        <p class="fs-2 fw-bold">Direkt i mobilen!</p>
    </div>
</div>
<div class="container">
    <div class="row d-flex align-items-center section">
        <div class="col-lg-6 col-md-6">
            <p class="fs-big fw-bold point-text">VAD ÄR ROTUR?</p>
            <p class="fs-4">Äntligen kan du se dina kunders rot- & rut-avdrag direkt på skärmen!</p>
            <button class="btn btn-primary fs-5">Läs mer</button>
        </div>
        <div class="col-lg-6 col-12 pt-5 d-flex justify-content-center">
            <img width="80%" style="border-radius: 50%;" src="../../assets/images/Stock-iphone_square.png" alt="image">
        </div>
    </div>
</div>
<div class="">
    <div class="container">
        <div class="row section">
            <div class="text-center">
                <p class="fs-1 fw-bold">Varför använda Rotur?</p>
            </div>
            <div class="col-lg-4 p-3">
                <i class="bi bi-search icon-small"></i>
                <p class="fs-4 fw-bold">Sök direkt</p>
                <p class="fs-5">Slippa kontrollera med kunden och se rot- & rut-uppgifter direkt på skärmen!</p>
            </div>
            <div class="col-lg-4 p-3">
                <i class="bi bi-briefcase-fill icon-small"></i>
                <p class="fs-4 fw-bold">Spara pengar</p>
                <p class="fs-5">Misstag kan kosta, låt inte fel uppgifter orsaka fel på fakturan.</p>
            </div>
            <div class="col-lg-4 p-3">
                <i class="bi bi-clock-fill icon-small"></i>
                <p class="fs-4 fw-bold">Spara tid</p>
                <p class="fs-5">Snabbare och säkrare uppgifter!</p>
            </div>
        </div>
    </div>
</div>
<div class="gray">
    <div class="container section">
        <div class="row p-3">
            <div class="text-center">
                <p class="fs-1 p-3">Vanliga frågor</p>
            </div>
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <p class="fs-3 fw-bold m-0">Lorem ipsum dolor?</p>
                            <p class="fs-5">Lorem ipsum dolor sit amet At vero eos et accusamus et iusto odio dignissimos sit amet At vero eos et</p>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col">
                            <p class="fs-3 fw-bold m-0">Lorem ipsum dolor sit amet ipsum dolor?</p>
                            <p class="fs-5">Lorem ipsum dolor sit amet At vero eos et accusamus et iusto odio dignissimos amet At vero eos et accusamus et iusto odio dignissimos sit amet At</p>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col">
                            <p class="fs-3 fw-bold m-0">Lorem ipsum dolor sit amet ipsum dolor Lorem ipsum?</p>
                            <p class="fs-5">Lorem ipsum dolor sit amet At vero eos et accusamus et iusto odio dignissimos</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>