.hero {
    background-color: #2b6777;
    color: white;
}

.top-bottom-big-padding {
    padding-top: 10vh;
    padding-bottom: 10vh;
    text-align: center;
}

.gray {
    background-color: #f3f6f8;
}

.card {
    background-color: white;
    border-radius: 0;
    border: 0;
}

.card-body {
    border-radius: 25px !important;
}

.bi {
    color: #2b6777;
    font-size: 1.5rem;
}

.point-text {
    color: #2b6777;
}

.om-oss {
    padding-top: 10vh;
    padding-bottom: 5vh;
}

.icon {
    font-size: 8rem;
}

.icon-section {
    margin-top: 1vh;
    padding-top: 1vh;
    padding-bottom: 5vh;
}