.hero {
    background-image: linear-gradient(rgba(36, 89, 90, 0.5), rgba(0, 0, 0, 0.4)), url("../../assets/images/sthlm.jpg");
    height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  color: white;
  padding-top: 10rem;
    padding-bottom: 10rem;
}

.gray {
    background-color: #f3f6f8;
}

.card{
    /* color: black; */
    min-height: 40vh;
    color: black;
    background-color: white;
    padding: 2rem;
    margin-bottom: 5vh;
    border: 0;
}