<div class="container-fluid hero">
    <div class="col-lg-6 offset-lg-3 top-bottom-big-padding">
        <h1 class="fw-bold">Ett enklare sätt att jobba på</h1>
        <p class="fs-4">Slipp krångel och fokusera på just det ni är bäst på!</p>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-lg-6 om-oss">
            <p class="fs-4 mb-0 fw-bold point-text">Om oss</p>
            <p class="fs-1">Varför använda ROTUR?</p>
            <p class="fs-5">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium
                voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate
                non provident</p>
            <button class="btn btn-primary fs-5">Läs mer</button>
        </div>
        <div class="col-lg-6">
            <img class="img-fluid" src="../../assets/images/whyUs.jpg" alt="image">
        </div>
    </div>
</div>
<div class="gray">
    <div class="container">
        <div class="row pb-5">
            <div class="text-center">
                <h2 class="fs-1 p-4">Våra tjänster</h2>
            </div>
            <div class="col-lg-6">
                <div class="card mb-2">
                    <div class="card-body">
                        <p class="card-header-text fs-2 p-3">Lorem Ipsum</p>
                        <p class="fs-5"><i class="bi bi-check-circle-fill p-3"></i>Lorem ipsum dolor sit amet</p>
                        <p class="fs-5"><i class="bi bi-check-circle-fill p-3"></i>consectetur adipiscing elit</p>
                        <p class="fs-5"><i class="bi bi-check-circle-fill p-3"></i>sed eiusmod incididunt</p>
                        <p class="fs-5"><i class="bi bi-check-circle-fill p-3"></i>labore et dolore aliqua</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="card">
                    <div class="card-body">
                        <p class="card-header-text fs-2 p-3">Lorem Ipsum</p>
                        <p class="fs-5"><i class="bi bi-check-circle-fill p-3"></i>Lorem ipsum dolor sit amet</p>
                        <p class="fs-5"><i class="bi bi-check-circle-fill p-3"></i>consectetur adipiscing elit</p>
                        <p class="fs-5"><i class="bi bi-check-circle-fill p-3"></i>sed eiusmod incididunt</p>
                        <p class="fs-5"><i class="bi bi-check-circle-fill p-3"></i>labore et dolore aliqua</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container icon-section">
    <div class="row p-3">
        <div class="col-lg-4 text-center">
            <i class="bi bi-person-fill icon"></i>
            <p class="fs-3">Logga in</p>
            <p class="fs-5">dolor sit amet At vero eos et accusamus amet At vero eos et</p>
        </div>
        <div class="col-lg-4 text-center">
            <i class="bi bi-search icon"></i>
            <p class="fs-3">Sök</p>
            <p class="fs-5">dolor sit amet At vero eos et accusamus ipsum dolor sit amet At vero eos et accusamus et iusto odio dignissimos</p>
        </div>
        <div class="col-lg-4 text-center">
            <i class="bi bi-file-earmark-text-fill icon"></i>
            <p class="fs-3">Se uppgifter</p>
            <p class="fs-5">dolor sit amet At vero eos et accusamus</p>
        </div>
    </div>
</div>
<div class="gray">
    <div class="container">
        <div class="row p-3">
            <div class="text-center">
                <h2 class="fs-1 p-3">Vanliga frågor</h2>
            </div>
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <p class="fs-3">Lorem ipsum dolor?</p>
                            <p class="fs-5">Lorem ipsum dolor sit amet At vero eos et accusamus et iusto odio dignissimos sit amet At vero eos et</p>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col">
                            <p class="fs-3">Lorem ipsum dolor sit amet ipsum dolor?</p>
                            <p class="fs-5">Lorem ipsum dolor sit amet At vero eos et accusamus et iusto odio dignissimos amet At vero eos et accusamus et iusto odio dignissimos sit amet At</p>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col">
                            <p class="fs-3">Lorem ipsum dolor sit amet ipsum dolor Lorem ipsum?</p>
                            <p class="fs-5">Lorem ipsum dolor sit amet At vero eos et accusamus et iusto odio dignissimos</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>