<div class="container-fluid hero">
  <div class="col-lg-6 offset-lg-3 text-center">
    <p class="fs-1">Rotur gör ansökan om Rot- och Rutavdraget enkelt och smidigt!</p>
  </div>
</div>
<div class="container">
  <div class="row d-flex align-items-center section">
    <div class="col-lg-6 col-md-6 col">
      <p class="fs-big fw-bold header-text">Vad är<br><span class="fc-primary">ROTUR?</span></p>
      <p class="fs-5">Äntligen kan du se dina kunders<br>rot- & rut-avdrag direkt på skärmen!</p>
      <button class="btn btn-primary fs-5" routerLink="/Login">Sätt igång!</button>
    </div>
    <div class="col-lg-6 col-12 pt-5 d-flex justify-content-center">
      <img width="80%" style="border-radius: 50%;" src="../../assets/images/Stock-iphone_square.png" alt="image">
    </div>
  </div>
</div>
<!-- <div class="container section">
  <div class="col-lg-12 pt-5 d-flex justify-content-center" style="overflow-x:auto;">
    <img class="img-fluid" src="../../assets/images/TIMELINE2.png" alt="image">
  </div>
</div> -->
<div class="green-section section">
  <div class="container">
    <div class="row">
      <div class="text-center">
        <p class="fs-1">Varför använda Rotur?</p>
      </div>
      <div class="col-lg-4 p-3">
        <i class="bi bi-search icon-small-white"></i>
        <p class="fs-4">Sök direkt</p>
        <p class="fs-5">Kontrollera kundens rot - och rut-uppgifter direkt på skärmen.</p>
      </div>
      <div class="col-lg-4 p-3">
        <i class="bi bi-briefcase-fill icon-small-white"></i>
        <p class="fs-4">Få betalt snabbare</p>
        <p class="fs-5">Effektivare administration som minskar utbetalningstiden.</p>
      </div>
      <div class="col-lg-4 p-3">
        <i class="bi bi-clock-fill icon-small-white"></i>
        <p class="fs-4">Spara tid</p>
        <p class="fs-5">Lämnar korrekta uppgifter till skatteverket.</p>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="section">
    <div class="col text-center">
      <p class="fs-1">Det här <span class="fw-bold">ingår</span> i Rotur</p>
    </div>
    <div class="row">
      <div class="col-lg-4">
        <div class="card">
          <p class="fs-4 text-center fw-bold">Sök på kunder</p>
          <p class="fs-5">Söka och kontrollera kunders uppgifter direkt på skärmen!</p>
          <p class="fs-5">Via Rotur får du uppdaterade uppgifter direkt från Skatteverket!</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="card">
          <p class="fs-4 text-center fw-bold">Mina ärenden</p>
          <p class="fs-5">Skapa ärende och begär tillbaka rot- & rutavdrag från Skatteverket!</p>
          <p class="fs-5">Via vår tjänst kan du
            automatiskt skapa en XML-fil som du sen laddar upp direkt till Skatteverket!</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="card">
          <p class="fs-4 text-center fw-bold">Räkna och skicka offert</p>
          <p class="fs-5">Verktyg för att enkelt räkna på jobbet som ska göras.</p>
          <p class="fs-5">Räkna ut vad jobbet preliminärt kommer att kosta för kunden där rot & rut automatiskt dras av!
          </p>
          <p class="fs-5">Skicka offert till kunden direkt i verktyget</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="">
  <div class="container pb-5">
    <div class="text-center">
      <p class="fs-1">Vanliga frågor</p>
    </div>
    <div class="accordion" id="accordionExample">
      <div class="accordion-item shadow-sm">
        <h2 class="accordion-header" id="headingOne">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            <p class="fs-4 m-0">Vad är ROTUR?</p>
          </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
          data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <p class="fs-5 mt-2">Lorem ipsum dolor sit amet At vero eos et accusamus et iusto odio dignissimos amet At
              vero eos et eos et accusamus et iusto odio dignissimos</p>
          </div>
        </div>
      </div>
      <div class="accordion-item shadow-sm">
        <h2 class="accordion-header" id="headingTwo">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            <p class="fs-4 m-0">Vad kostar tjänsten?</p>
          </button>
        </h2>
        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
          data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <p class="fs-5 mt-2">Lorem ipsum dolor sit amet At vero eos et accusamus et iusto odio dignissimos amet At
              vero eos et eos et accusamus et iusto odio dignissimos amet At vero eos e</p>
          </div>
        </div>
      </div>
      <div class="accordion-item shadow-sm">
        <h2 class="accordion-header" id="headingThree">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            <p class="fs-4 m-0">Hur använder jag tjänsten?</p>
          </button>
        </h2>
        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
          data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <p class="fs-5 mt-2">Lorem ipsum dolor sit amet At vero eos et accusamus et iusto odio dignissimos amet At
              vero eos et Lorem ipsum dolor sit amet At</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>